.Imworking {
  font-family: var(--title-font);
  @apply h-screen font-bold flex justify-center items-center relative;
}

.fire {
  animation: showFire 1.5s infinite alternate;
  filter: invert(1);
}

@keyframes showFire {
  from {
    /* opacity: 0.5; */
    filter: hue-rotate(190deg);
  }
  to {
    /* opacity: 1; */
    filter: hue-rotate(0);
  }
}
