.Skill {
  @apply relative flex items-center justify-between px-8 py-16 transition-all border-t-2 border-white hover:bg-gradient-to-r from-blue-alt to-blue;
}

.Skill:hover .Skill-img {
  @apply opacity-100;
}
.Skill:hover .Skill-arrow {
  transition: opacity 0.3s ease;
  @apply opacity-0;
}

.Skill-name {
  @apply text-2xl lg:text-3xl;
}

.Skill-arrow {
  @apply text-4xl rotate-45 opacity-100 lg:text-6xl;
}

.Skill-img {
  transition: opacity 0.5s ease;
  transition-delay: 0.25s;
  @apply absolute z-10 block object-cover w-40 h-48 bg-white opacity-0 pointer-events-none lg:w-48 lg:h-56 md:right-16 rounded-3xl;
}
