@layer base {
  :root {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgb(0, 198, 251);
    background: linear-gradient(
      0deg,
      rgba(0, 198, 251, 1) 0%,
      rgba(0, 91, 234, 1) 100%
    );
  }

  :root {
    /* OTHER */
    --header-height: 80px;
  }

  body {
    @apply text-sm text-white transition-all bg-black xl:text-base font-poppins;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold;
  }

  h1 {
    @apply text-7xl;
  }
  h2 {
    @apply text-[4rem];
  }
  h3 {
    @apply text-5xl;
  }
  h4 {
    @apply text-[2rem];
  }

  img,
  picture,
  video,
  iframe,
  figure {
    /* opcional */
    /* -o-object-fit: cover;
     object-fit: cover; */
    /* opcional */
    /* -o-object-position: center center;
     object-position: center center; */
    @apply block w-full max-w-full;
  }

  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
}
